@import '../common/variables';

.author-list {
  section {
    &.author {
      img {
        max-width: 100%;
      }

      h1 {
        margin: 0;
      }

      .bio {
        margin-top: 0.8rem;
        line-height: $line-height;
        background-color: $text-color-white;
        padding: 1rem;
        margin-bottom: 0.8rem;
      }

      .social-links {
        .social-link-tw {
          color: $primary-color;
          font-size: $h3-font-size;
        }
      }
    }

    + section {
      margin-top: 2rem;
    }
  }
}
