@import '../common/variables';

.author-list {
  section {
    &.author {
      display: flex;
      flex-direction: column;
      align-items: center;

      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;

        a {
          max-width: 75%;

          img {
            max-width: 100%;
          }
        }

        img {
          max-width: 75%;
          border-radius: 50%;
        }
      }

      .name {
        color: $text-color-black;

        &:focus, &:hover {
          text-decoration: none;
        }
      }

      h1 {
        margin: 0;
        text-align: center;
      }

      .bio {
        margin-top: 1.5rem;
        line-height: $line-height;
        background-color: $text-color-white;
        padding: 1rem;
      }

      .social-links {
        margin-top: 0.4rem;

        .social-link-twitter {
          color: $primary-color;
          font-size: $h3-font-size;
        }
      }
    }

    + section {
      margin-top: 2rem;
    }
  }
}
