@import '../common/variables';
@import '../common/utils';

.footer {
  background-color: $secondary-color;
  padding-top: 50px;
  padding-bottom: 50px;
  color: $text-color-white;

  .footer-holder {
    line-height: 15px;
    font-size: $small-font-size;
    max-width: $content-max-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-left: $content-padding;
    padding-right: $content-padding;

    .info-col {
      flex: 1.1;
      padding-bottom: 30px;
      margin-right: 75px;

      p {
        margin-bottom: 15px;
      }
    }

    .address-col {
      display: flex;
      flex: 1;

      address {
        width: 50%;
        margin-right: 17%;

        .title {
          display: block;
          font-size: $small-font-size + 2px;
        }

        + address {
          margin-right: 0;
        }
      }
    }
  }

  .copy {
    @include content();

    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: $small-font-size;
  }

  @include media('<=tablet') {
    .footer-holder {
      display: block;

      .info-col {
        margin: 0;
      }

      .address-col {
        margin: 0 0 2rem 0;
      }
    }
  }
}
