@import '../common/variables';
@import '../common/utils';

.header {
  background-color: $primary-color;
  padding: 2rem 0;

  .content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    color: $text-color-white;

    @include content();

    .top-section {
      display: flex;
      flex: 1;
      align-items: flex-end;

      .info {
        font-family: $font-bold;
        font-size: $h1-font-size;
        margin-bottom: 0.75rem;
      }

      .logo {
        margin-left: 3rem;
        img {
          height: 50px;
        }
      }

      nav {
        margin-bottom: 0.75rem;
        margin-left: auto;
        display: flex;
        font-size: $h2-font-size;
        font-family: $font-bold;

        .nav {
          margin-left: 3rem;
          display: flex;
          list-style-type: none;

          li {
            + li {
              margin-left: 30px;
            }
          }
        }
      }
    }

    .bottom-section {
      margin-top: 6rem;

      a {
        &:hover, &:focus {
          text-decoration: none;
        }
      }

      h1 {
        margin: 0;
        font-size: $h1-font-size * 2.75;
        text-transform: lowercase;
      }
    }
  }

  @include media('<=tablet') {
    .content {
      position: relative;

      .top-section {
        flex-direction: column;
        align-items: center;

        .info {
          margin: 0;
        }

        nav {
          margin: 10rem 0 0 0;

          .nav {
            margin-left: 0;
          }
        }

        .logo {
          display: none;
        }
      }

      .bottom-section {
        position: absolute;
        text-align: center;
        margin-top: 3rem;
        width: 100%;
        left: 0;

        h1 {
          font-size: $h1-font-size * 2;
        }
      }
    }
  }
}
