@import '../common/variables';

.post-card {
  width: 100%;
  display: flex;
  padding: 2rem;

  background-color: $text-color-white;
  color: $text-color-black;

  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 8px 28px 50px rgba(39, 44, 49, .07), 1px 6px 12px rgba(39, 44, 49, .04);
  }

  + .post-card {
    margin-top: 3rem;
  }

  .post-card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  a {
    color: $text-color-black;

    &:focus, &:hover {
      color: $text-color-black;
      text-decoration: none;
    }
  }

  h1 {
    color: $primary-color;
    margin: 0;
  }

  .post-card-tags {
    margin-top: 0.5rem;
    color: $secondary-color;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: $h5-font-size;
    font-weight: bold;
  }

  .post-card-excerpt {
    margin-top: 1.4rem;
    line-height: 1.5;
  }

  .post-card-meta {
    margin-top: auto;
    display: flex;
    width: 100%;
    align-items: center;

    .author-list {
      display: flex;

      .author-list-item {
        a {
          margin-left: -8px;
        }

        img {
          max-width: 30px;
          max-height: 30px;
          border-radius: 50%;
          border: 3px solid $text-color-white;
        }

        @for $i from 1 to 10 {
          &:nth-child(#{$i}) {
            z-index: 11 - $i;
          }
        }
      }
    }

    .reading-time {
      margin-left: auto;
      color: $secondary-color;
    }
  }
}
