@import '../common/variables';
@import '../common/utils';

.post-full {
  @include content();
  counter-reset: image-counter;

  width: 100%;
  background-color: $text-color-white;
  padding: $content-padding;

  article {
    max-width: 100%;

    h1 {
      color: $primary-color;
      font-size: $h1-font-size * 1.5;
      margin: 0;

      @include media('<=phone') {
        font-size: $h1-font-size;
      }
    }

    .post-full-meta {
      margin: 0 0 3rem  0;
      color: $secondary-color;

      a {
        color: $secondary-color;

        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }

    h2, h3, h4, h5, h6 {
      margin: 4.5rem 0 1.5rem 0;
    }

    section {
      line-height: 1.75;

      p {
        margin-bottom: 2rem;
        &:last-child {
          margin: 0;
        }
      }
    }

    a {
      color: $primary-color;
    }
  }

  + .post-full {
    margin-top: 2rem;
  }

  .author-list {
    .author {
      flex-direction: row;

      .author-info {
        max-width: 100%;
      }

      @include media('<=tablet') {
        position: relative;

        figure {
          position: absolute;
          display: block;
          right: 0;
          top: 0;
          min-width: 50px;
          max-width: 50px;
          margin: 0;
        }
      }

      figure {
        @include media('>tablet') {
          min-width: 150px;
          max-width: 150px;
          margin-right: 2rem;
        }

        img {
          border-radius: 50%;
        }
      }

      .bio {
        margin: 0.5rem 0 0 0;
        padding: 0 0 0 0;
      }

      .social-links {

        @include media('<=phone') {
          display: block;

          .social-link {
            justify-content: flex-start;
            margin: 0;
            padding: 0;

            + .social-link {
              margin-top: 0.5rem;
            }
          }
        }

        .social-link {
          color: $text-color-black;
          font-size: inherit;

          &:hover, &:focus {
            text-decoration: none;
          }

          svg {
            height: 1.3rem;
            margin-right: 0.35rem;
          }

          &.social-link-twitter, &.social-link-facebook {
            svg {
              fill: $text-color-black;
            }
          }
        }
      }

      .read-more {
        margin: 0.5rem 0 0 0;
      }
    }
  }
}

aside {
  &.read-next {
    margin: 2rem -1rem -2rem -1rem;
    display: flex;
    flex-wrap: wrap;

    > article {
      flex: 1 1 $content-max-width / 3;
      margin: 0 1rem 2rem;

      + article {
        &.post-card {
          margin-top: 0;
        }
      }

      &.related-content {
        background-color: $primary-color;
        flex-direction: column;

        .related-content-header {
          h1 {
            color: $text-color-white;
          }

          .post-card-tags {
            color: $text-color-white;
          }
        }

        .related-content-content {
          .read-more {
            &::before {
              color: $text-color-white;
            }

            a {
              color: $text-color-white;

              &:focus, &:hover {
                color: $text-color-white;
              }
            }
          }
        }

        .related-content-footer {
          margin-top: auto;

          a {
            color: $text-color-white;

            &:focus, &:hover {
              color: $text-color-white;
            }
          }
        }
      }
    }
  }
}

