@import '~reset-css/sass/reset';
@import './icomoon';
@import './common/variables';
@import './components/index';
@import './common/typography';
@import './common/social';
@import './common/utils';
@import './common/code';

* {
  box-sizing: border-box;
}

body {
  background-color: $page-background-color;
  color: $text-color-black;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-sans-serif;

  display: flex;
  flex-direction: column;
  min-width: 100vw;
  max-width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: 600;
}

section {
  &.content {
    max-width: $content-max-width;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: $content-padding;
    padding-right: $content-padding;

    @include media('<=tablet') {
      padding: 0;
      margin: 0;
    }

    main {
      display: flex;

      &.two-columns {
        .post-feed {
          display: flex;
          flex-direction: column;
        }

        > div {
          &:first-child {
            width: 25%;
            margin-right: 3rem;

            @include media('<=desktop') {
              display: none;
            }
          }

          &:nth-child(2) {
            width: 75%;

            @include media('<=desktop') {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
