@import 'variables';

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-weight: 600;
  margin: 0 0 0.5em;
}

h1, .h1 {
  font-size: $h1-font-size;
}

h2, .h2 {
  font-size: $h2-font-size;
}

h3, .h3 {
  font-size: $h3-font-size;
}

h4, .h4 {
  font-size: $h4-font-size;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 1.25em;
}

strong{font-weight: 600;}

a {
  color: $text-color-white;
  text-decoration:none;
  &:hover,
  &:focus {
    text-decoration:underline;
  }
}

.read-more {
  margin: 1rem 0 1rem 0;
  position: relative;
  padding-left: 26px;
  color: $primary-color;
  font-weight: 600;

  &::before {
    content: '\e900';
    font: 10px/1 'icomoon';
    color: $primary-color;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
