@import 'variables';

$breakpoints: (
  'phone': 532px,
  'tablet': 768px,
  'desktop': 1024px
);

@import '~include-media/dist/include-media';

@mixin content() {
  max-width: $content-max-width;
  padding-left: $content-padding;
  padding-right: $content-padding;
}
