$primary-color: #fd5c55;
$secondary-color: #868686;
$page-background-color: #f9f8f7;
$text-color-black: #1d1d1b;
$text-color-white: white;

$content-max-width: 980px;
$content-padding: 2rem;

$font-size: 16px;
$small-font-size: 12px;

$h1-font-size: $font-size + 8px;
$h2-font-size: $font-size + 4px;
$h3-font-size: $font-size + 2px;
$h4-font-size: $font-size + 2px;
$h5-font-size: $font-size;
$h6-font-size: $font-size;

$line-height: 1.16666;

$font-sans-serif: 'Campton-Book', 'Campton', 'Poppins', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-italic: 'Campton-BookItalic', 'Campton', 'Poppins', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-bold: 'Campton-Bold', 'Campton', 'Poppins', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-bold-italic: 'Campton-BoldItalic', 'Campton', 'Poppins', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-serif: 'PT Serif', Georgia, serif;

$asset-path: '/assets';
