$primary-color: #fd5c55;
$secondary-color: #868686;
$page-background-color: #f9f8f7;
$text-color-black: #1d1d1b;
$text-color-white: white;

$content-max-width: 940px;

$h1-font-size: 18px;
$h2-font-size: 14px;
$h3-font-size: 12px;
$h4-font-size: 12px;
$h5-font-size: 10px;
$h6-font-size: 10px;
