$primary-color: #fd5c55;
$secondary-color: #868686;
$page-background-color: #f9f8f7;
$text-color-black: #1d1d1b;
$text-color-white: white;

$content-max-width: 1024px;
$content-padding: 2rem;

$font-size: 16px;
$small-font-size: 12px;

$h1-font-size: $font-size + 8px;
$h2-font-size: $font-size + 4px;
$h3-font-size: $font-size + 2px;
$h4-font-size: $font-size + 2px;
$h5-font-size: $font-size;
$h6-font-size: $font-size;

$line-height: 1.16666;
