{{!< default}}

{{#post}}

<main class="post-full {{post_class}}">
  <article>
    <header>
      <h1>{{title}}</h1>
    </header>
    <section>
      {{content}}
    </section>
  </article>
</main>

{{/post}}
